whisper-small-test/
data/
tempCodeRunnerFile.py
.cph/
__pycache__/
__pycache__/utils.cpython-313.pyc
tempCodeRunnerFile.py
.gradio/certificate.pem
.gradio/
.idea/
music/
.venv/
music_finder/final_music
model/text_corpus*
model/tokenizer*
model/model*
model/parakeet-*
model/backup
nemo_experiments*
spotdl*
CLAUDE.md
music_test*
music_finder/cookies.txt
