gradio~=5.29.0
librosa~=0.11.0
transformers~=4.51.3

datasets~=3.6.0
setuptools~=80.9.0
evaluate~=0.4.3
ollama~=0.4.8
spotdl~=4.2.11

progress~=1.6

torch~=2.5.1+cu121
numpy~=2.3.0rc1
soundfile~=0.13.1
scikit-learn~=1.6.1